@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-feature-settings: 'ss01' 1, 'ss02' 1, 'ss03' 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply text-base font-regular text-gray-900 dark:text-dark-text overflow-x-hidden;
  }

  body {
    @apply overflow-x-hidden;
  }
}

@layer components {
  .display-lg {
    @apply text-display-lg font-medium tracking-tight;
  }
  
  .display {
    @apply text-display font-medium tracking-tight;
  }

  .h1 {
    @apply text-h1 font-medium tracking-tight;
  }

  .h2 {
    @apply text-h2 font-medium;
  }

  .h3 {
    @apply text-h3 font-medium;
  }

  .h4 {
    @apply text-h4 font-medium;
  }

  .h5 {
    @apply text-h5 font-medium;
  }

  .body-xl {
    @apply text-[20px] leading-[26px] tracking-[-0.01em] font-regular;
  }

  .body-xxl {
    @apply text-[26px] leading-[34px] tracking-[-0.01em] font-regular !important;
  }

  .body-lg {
    @apply text-[18px] leading-[28px] tracking-[-0.01em] font-regular;
  }

  .body {
    @apply text-[16px] leading-[22px] tracking-[-0.01em] font-regular;
  }

  .body-sm {
    @apply text-sm font-regular;
  }

  .caption {
    @apply text-xs font-regular text-gray-500 dark:text-dark-text-secondary;
  }

  .text-lg {
    @apply text-[18px] leading-[28px];
  }
} 